<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

   <!-- Icons -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

   <link rel="stylesheet" href="../Index/index.css">
</head>
<body>
    <div class="header">
        <h1>MovieBuff</h1>
        <div class="header_action">
             <ul class="navbar">
                 <li><a href="../Signup/signup.html">New User Registration</a></li>
             </ul>
        </div>
    </div>
     

    <div class="container">
        <div class="para">
            <p> 
                Welcome to the world of cinema, where dreams are born and stories come alive. Prepare to embark on a journey beyond imagination as we delve into the realms of adventure, romance, comedy, and drama. Ladies and gentlemen, welcome to MovieBuff, your ultimate destination for all things film.     
            </p>
        </div>

        <div class="login-signup">
           <button class="btn"><a href="../Login/login.html">Login Now</a></button>
          
        </div>

    </div>
    

           

     
      

    
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>
</html>