<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

   <!-- Icons -->
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

   <link rel="stylesheet" href="login.css">
</head>
<body>

    <div class="header">
       <h1>MovieBuff</h1>
       <div class="header_action">
            <ul class="navbar">
                <li><a href="../Signup/signup.html">Registration</a></li>
            </ul>
       </div>
       </div>
    <div class="container">
        <div class="form">
            <span class="title">Login</span>

            <form onsubmit="loginUser(event)">
                <div class="inputfield">
                    <i class="uil uil-envelope-alt"></i>
                    <input type="text" name="email" id="emailid" placeholder="Enter your email" required>

                </div>

                <div class="inputfield">
                    <i class="uil uil-lock"></i>
                    <input type="password" name="password" id="passid" placeholder="Enter your password" required>
                   
                </div>

                <div class="inputfield button">
                    <input type="submit" value="Login Now">
                </div>

            </form>


            <div  class="login-signup">
                <span class="text">Not a Member?</span>
                <a href="../Signup/signup.html">Signup</a>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./login.js"></script>
</body>
</html>